.pio
tmp
__pycache__
.vscode
src/generated/FlashStringGeneratorAuto.h
src/generated/FlashStringGeneratorAuto.cpp
src/generated/.flashstringgen
src/generated/FlashStringGeneratorAuto.static.txt
debug_args.txt
output.txt
